
._main-container-manage{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.table{
    width: 80%;
}

._manage-button-delete{
    outline: none;
    border: none;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.486);
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

._manage-button-edit{
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color: #26be95b4;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    &:hover{
        color: black;
    }
}

.alert{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



