

._main-header{
    width: 100%;
    height: 70px;
    background: $black-boots;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
}

._main-header h1{
    font-size: 30px;
    font-weight: bold;
    color: white;
}

._header-ul{
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
}

.links{
    display: block;
    text-decoration: none;
    font-size: 24px;
    color: #26BE96;
    font-weight: bold;
    transition: all 300ms;
    padding: 10px;
    border-radius: 20px;
    &:hover{
        color: #26BE96;
        background-color: rgba(255, 255, 255, 0.452);
        padding: 10px;
        border-radius: 20px;
    }
}

._logout-button{
    border: none;
    outline: none;
    font-weight: bold;
    padding: 10px;
    background-color: $black-boots;
    color: rgb(221, 25, 25);
    font-size: 24px;
    transition: all 300ms;
    border-radius: 20px;
    &:hover{
        padding: 10px;
        color: black;
        background-color: rgb(221, 25, 25);
        border-radius: 20px;
    }
}




