._register-main-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
}

._register-form{
    margin-top: 40px;
}

._register-button{
    width: 100%;
    padding: 7px;
    outline: none;
    border: none;
    background-color: $emerald;
    border-radius: 10px;
    font-weight: bold;
    font-size: 19px;
}

._errors-form-register{
    color: red;
    font-family: 16px;
    margin: 0px;
}


